:root {
    --base-color: black;
    --primary-color2: #d5be63;
    --primary-color1: wheat;
    --name-color: orange;
    --accent-color1: rgb(154, 100, 0);
    --accent-color2: rgb(200, 130, 1);
    --text-color: white;
}

h1, h2, h3, p {
    font-family: Gill Sans, sans-serif;
    text-align: center;
    color: var(--primary-color1);
}

p {
    color: var(--text-color);
}

/* h1 {
    font-size: 45px;
} */

hr {
    background-color: var(--primary-color2);
    height: 2px;
}

body {
    background-color: var(--base-color);
    margin: 0;
    padding: 20px 10px;
}

header {
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 3.5rem;
    color: var(--name-color);
}

header input {
    font-family:  "DejaVu Sans Mono", monospace;
    /* font-style: oblique; */
    /* font-variant: small-caps; */
    font-weight: 200;
    font-size: 1.5rem; 
    place-items: center stretch;
    width: 10vw;
    position: relative;
    top: -10px;
}

footer {
    font-size: 0.75rem;
}

header, footer {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 10px;
    background: linear-gradient(var(--accent-color1), var(--base-color) 10%, var(--base-color) 90%, var(--accent-color2));
    box-shadow: 0 0 5px 10px var(--accent-color1);
    border-radius: 10px;
}

#about, #projects, #contact {
    margin: 100px auto auto;
    padding: 50px;
    background: linear-gradient(var(--accent-color1), var(--base-color) 10%, var(--base-color) 90%, var(--accent-color2));
    box-shadow: 0 0 5px 10px var(--accent-color1);
    border-radius: 10px;
}

#socials {
    padding: 30px 150px 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem 1rem;
    justify-content: space-evenly;
    place-items: center;
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: var(--primary-color1);
}

a:hover {
    color: var(--primary-color2);
}