:root {
    --base-color: #E4E4E4;
    --dark-color2: #301160;
    --dark-color1: #553388;
    --accent-color1: #A0A0E4;
    --accent-color2: #C0C0E4;
}

h1, p {
    font-family: Verdana, Tahoma;;
    text-align: center;
}

h1 {
    font-size: 45px;
}

hr {
    background-color: var(--dark-color2);
    height: 2px;
}

body {
    background-color: var(--base-color);
    margin: 0;
    padding: 20px 10px;
}

header, footer {
    margin: 0;
    padding: 10px;
    background: linear-gradient(var(--accent-color1), var(--base-color) 10%, var(--base-color) 90%, var(--accent-color2));
    box-shadow: 0 0 5px 10px var(--accent-color1);
    border-radius: 10px;
}

#about, #projects, #contact {
    margin: 100px auto auto;
    padding: 50px;
    background: linear-gradient(var(--accent-color1), var(--base-color) 10%, var(--base-color) 90%, var(--accent-color2));
    box-shadow: 0 0 5px 10px var(--accent-color1);
    border-radius: 10px;
}

#socials {
    padding: 30px 150px 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem 1rem;
    justify-content: space-evenly;
    place-items: center;
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: var(--dark-color1);
}

a:hover {
    color: var(--dark-color2);
}